# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# 

/assets/
/cms/
/framework/
/funnel/
/reports/
/silverstripe-memberprofiles-master/
/siteconfig/
/vendor/
.editorconfig
.htaccess
composer.json
composer.lock
composer.phar
favicon.ico
index.php
install-frameworkmissing.html
web.config

/themes/*
!themes/off-grid

/mysite/*
!mysite/code
/mysite/code/*
!mysite/code/Page.php
!mysite/code/KitchenSink.php

